@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can compute GCD of two number <a href="https://localhost:1111/Home/Privacy">Let's go</a>.</p>
</div>
